section {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.whiteBtn {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 14px 44px;
    font-size: 18px;
    font-weight: 600;
    transition-duration: 0.3s;
}

.whiteBtn:hover {
    background-color: #666666;
    color: white;
}

.blackBtn {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 14px 44px;
    font-size: 18px;
    font-weight: 600;
    transition-duration: 0.3s;
}

.blackBtn:hover {
    background-color: #666666;
}

.fHomeBg {
    background: url(../assets/img/bghome1.avif);
    height: 100vh;
    background-size: cover;
}

.fHomeHeader {
    padding-top: 8rem;
}

.fHomeHeader h1 {
    padding: 0 10rem;
    font-size: 5rem;
    font-weight: 700;
    color: white;
    text-shadow: 0.5px 0.5px 2px black;
}

.homeAbout h1 {
    color: black;
    font-weight: 700;
    font-size: 3rem;
}

.homeAbout p {
    font-size: 18px;
    padding: 0 17rem;
}

.homeProjects {
    background-color: black;
}

.homeProjects h1 {
    color: white;
    font-weight: 700;
    font-size: 3rem;
}

.homeProjectsImg {
    color: white;
}

.homeProjectsImg p {
    font-weight: 600;
}

.homeServices h1 {
    font-weight: 700;
    font-size: 3rem;
    color: black;
}

.homeServices P {
    color: black;
    font-weight: 600;
}

.servicesOrderHome {
    font-size: 4rem;
    font-weight: 700;
}

.servicesListHome {
    font-size: 28px;
}

.careersHome {
    background: url('../assets/img/bghome2.avif');
    height: 100vh;
    background-size: cover;
}

.careersHome h1 {
    font-weight: 700;
    font-size: 3rem;
    color: black;
}

.careersHome p {
    color: black;
    font-weight: 600;
}

.bgAbout {
    background: url('../assets/img/bgabout1.avif');
    height: 100vh;
    background-size: cover;
}

.fAboutHeader {
    padding-top: 8rem;
}

.fAboutHeader h1 {
    padding: 0 10rem;
    font-size: 5rem;
    font-weight: 700;
    color: white;
    text-shadow: 0.5px 0.5px 2px black;
}

.textAbout {
    color: black;
}

.bgProjects {
    background: url('../assets//img/projectsBg.avif');
    height: 100vh;
    background-size: cover;
}

.projectsHeader {
    padding-top: 8rem;
}

.projectsHeader h1 {
    padding: 0 10rem;
    font-size: 5rem;
    font-weight: 700;
    color: white;
    text-shadow: 0.5px 0.5px 2px black;
}

.bgServices {
    background: url('../assets/img//bgservices1.avif');
    height: 100vh;
    background-size: cover;
}

.servicesHeader {
    padding-top: 8rem;
}

.servicesHeader h1 {
    padding: 0 10rem;
    font-size: 5rem;
    font-weight: 700;
    color: white;
    text-shadow: 0.5px 0.5px 2px black;
}

.myFooter {
    background-color: black;
    color: white;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.headerFooter h1 {
    font-size: 4rem;
}

.myFooter h1 {
    font-weight: 700;
}

.textFooter {
    font-weight: 600;
}

@media (max-width: 576px) {
    section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .fHomeHeader h1 {
        padding: 0 4px;
        font-size: 34px;
    }

    .homeAbout p {
        font-size: 18px;
        padding: 0 4rem;
    }

    .homeServicesMobile {
        margin: auto;
        text-align: center;
        margin-bottom: 8px;
    }

    .servicesOrderHome {
        font-size: 4rem;
        font-weight: 700;
        align-items: center;
        margin: auto;
        display: flex;
    }

    .servicesListHome {
        font-size: 26px;
    }

    .careersHome {
        text-align: center;
    }

    .bgAbout {
        height: 45vh;
    }

    .fAboutHeader h1 {
        padding: 0 4px;
        font-size: 34px;
    }

    .bgProjects {
        height: 45vh;
    }

    .projectsHeader h1 {
        padding: 0 4px;
        font-size: 34px;
    }

    .headerFooter h1 {
        font-size: 4rem;
    }
}
